<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>登录页面</title>
  <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
        rel="stylesheet" media="screen" />
  <script src="/webjars/jquery/3.3.1/jquery.min.js"
          th:src="@{/webjars/jquery/jquery.min.js}"></script>

</head>
<body>
<!--    头部引用header.html-->
<div th:insert="~{header::copy}"></div>
<!--注册表单-->
<div class = "container">
  <form th:action="@{/user/login}" th:object="${user}" method="post">
    <div class="center-block">
      <br><h3 class="text-center">用户登录</h3>
      <div class="input">
        <label for="username" class="form-label">用户名:</label>
        <input type="text" th:field="*{username}" class="form-control" id="username" placeholder="请输入用户名" name="username">
      </div>
      <div class="input">
        <label for="pwd" class="form-label">密码:</label>
        <input type="password" th:field="*{password}" class="form-control" id="pwd" placeholder="请输入密码" name="pswd">
      </div>
      <span th:text="${errorMsg}"></span><br>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">登录</button>
      </div>
    </div>
  </form>
</div>
<!--    尾部引用footer.html-->
<div th:insert="~{footer::copy}"></div>
</body>
</html>